@{
    ViewData["Title"] = "Lista de Usuários"; ;
}
@model List<Data.Entities.Usuario>;
<h3 class="mb-4 float-start">Medicos</h3>
<a type="button" class="btn btn-primary mb-4 float-end" href="/usuário/create">Adicionar</a>
<table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
            <th align="center">Perfil</th>
            <th align="center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.nome</td>
                <td>Paciente</td>
                <td align="center" class=""><a href="/usuario/edit/@(item.id)">Editar</a></td>
            </tr>
            }
        </tbody>
    </table>

