@{
    ViewData["Title"] = "Lista de Plantão"; ;
}

@model List<Data.Entities.Plantao>;

@Html.Raw(TempData["mensagem"])
<h3 class="mb-4 float-start">Unidades</h3>
<a type="button" class="btn btn-primary mb-4 float-end" href="/unidade/create">Adicionar</a>
<table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Medico</th>
            <th align="center">Horario Inicio</th>
            <th align="center">Horario Fim</th>
            <th align="center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Medicos.nome</td>
                <td>@item.horarioinicio</td>
                <td>@item.horariofim</td>
                <td align="center" class=""><a href="/unidade/edit/@(item.id)">Editar</a></td>
            </tr>
            }
        </tbody>
    </table>

